.s1{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.s1 img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100px;
    height: 80px;
    
    color: red;
}